---
import Section from "../components/Section.astro";
import PageLayout from "../layouts/PageLayout.astro";
import BlogItem from "../components/BlogItem.astro";
import { vstack } from "../../styled-system/patterns";
import { getPosts, getSlugFromId } from "../utils/collections";

const blog = await getPosts();
---

<PageLayout title={["BLOG"]}>
  <Section heading="BLOG">
    <ul
      class={vstack({
        gap: "8",
        alignItems: "stretch",
        maxWidth: "max.width.container",
        marginInline: "auto",
      })}
    >
      {
        blog.map((item) => (
          <li class="blog_item">
            {
              <a href={`/blog/${getSlugFromId(item.id)}`}>
                <BlogItem date={item.data.pubDate}>{item.data.title}</BlogItem>
              </a>
            }
          </li>
        ))
      }
    </ul>
  </Section>
</PageLayout>

<script>
  import { gsap } from "gsap";

  window.addEventListener("load", () => {
    gsap.from(".blog_item", {
      x: "10%",
      opacity: "0",
      ease: "expo.out",
      stagger: {
        from: "start",
        amount: 0.2,
      },
      delay: 0.5,
    });
  });
</script>
