---
import Blog from "../components/top/Blog.astro";
import FirstView from "../components/top/FirstView.astro";
import Layout from "../layouts/Layout.astro";

import History from "../components/top/History.astro";
import Works from "../components/top/Works.astro";
import { css } from "../../styled-system/css";

import background from "../assets/first_view/autumn_colors.png";
import { Image } from "astro:assets";
import styles from "./index.styles";
---

<Layout
  class={css({
    bg: "bg.top",
  })}
>
  <div class={styles.background}>
    <Image src={background} alt="" loading="eager" />
  </div>
  <FirstView />
  <Blog />
  <Works />
  <History />
</Layout>
