---
import { getSlugFromId, getWorks } from "../utils/collections";
import Section from "../components/Section.astro";
import WorkItem from "../components/WorkItem.astro";
import { container } from "../../styled-system/patterns";
import PageLayout from "../layouts/PageLayout.astro";

const works = await getWorks();
---

<PageLayout title={["WORKS"]}>
  <Section heading="WORKS">
    <ul
      class={container({
        display: "grid",
        gridTemplateColumns: "repeat(auto-fit, minmax(35rem, 1fr))",
        gap: "16",
        maxWidth: "8xl",
        paddingInline: "0",
        paddingBottom: "20",
      })}
    >
      {
        works.map((item) => (
          <li class="work_item">
            <WorkItem
              name={item.data.name}
              image={item.data.icon}
              href={
                item.data.url
                  ? item.data.url
                  : `/works/${getSlugFromId(item.id)}`
              }
            >
              {item.data.description}
            </WorkItem>
          </li>
        ))
      }
    </ul>
  </Section>
</PageLayout>

<script>
  import { gsap } from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  window.addEventListener("load", () => {
    gsap.from(".work_item", {
      y: "15%",
      opacity: "0",
      ease: "expo.out",
      scrollTrigger: {
        trigger: ".work_item",
        start: "center bottom",
      },
      stagger: {
        from: "start",
        amount: 0.2,
      },
    });
  });
</script>
