---
import { css } from "../../styled-system/css";

const heading = css({
  fontFamily: "dots",
  fontSize: "6xl",
  textAlign: "center",
  lineHeight: "1",
  opacity: "0",
  overflow: "hidden",
  _hover: {
    "& > a": {
      color: "text.gray",
    },
  },
});

interface Props {
  class?: string;
  href?: string;
}

const { class: className, href, ...rest } = Astro.props;
---

<h1 class:list={["heading", heading, className]} {...rest}>
  {
    href ? (
      <a href={href}>
        <slot />
      </a>
    ) : (
      <slot />
    )
  }
</h1>

<script>
  import { gsap, Expo } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { splitText } from "../utils";

  gsap.registerPlugin(ScrollTrigger);

  window.addEventListener("load", () => {
    const headings = gsap.utils.toArray(".heading") as HTMLElement[];
    headings.forEach((target) => {
      const text = splitText(
        target.children.length == 0 ? target : target.children[0],
      );

      gsap.set(target, {
        opacity: 1,
      });
      gsap.set(text, {
        y: "100%",
        display: "inline-block",
      });
      gsap.to(text, {
        y: 0,
        ease: Expo.easeOut,
        stagger: {
          each: 0.1,
        },
        scrollTrigger: {
          trigger: target,
          start: "center bottom",
        },
      });
    });
  });
</script>
