---
import { container, vstack } from "../../../styled-system/patterns";
import BlogItem from "../BlogItem.astro";
import TopSection from "./TopSection.astro";
import { getPosts, getSlugFromId } from "../../utils/collections";

const blog = (await getPosts()).slice(0, 5);

const section = container({
  paddingInline: "px.container",
  paddingBlock: "py.section",
  maxWidth: "max.width.container",
});
---

<TopSection heading="BLOG" href="/blog" class={section}>
  <ul class={vstack({ gap: "10", "& li": { width: "100%" } })}>
    {
      blog.map((item) => (
        <li class="blog_item">
          <a href={`/blog/${getSlugFromId(item.id)}`}>
            <BlogItem date={item.data.pubDate}>{item.data.title}</BlogItem>
          </a>
        </li>
      ))
    }
  </ul>
</TopSection>

<script>
  import { gsap } from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  window.addEventListener("load", () => {
    gsap.from(".blog_item", {
      x: "10%",
      opacity: "0",
      ease: "expo.out",
      scrollTrigger: {
        trigger: ".blog_item",
        start: "center bottom-=200",
      },
      stagger: {
        from: "start",
        amount: 0.2,
      },
    });
  });
</script>
