---
import "@fontsource/zen-dots";
import "@fontsource/zen-maru-gothic/500.css";
import "@fontsource/zen-maru-gothic/700.css";
import "@fontsource/m-plus-1p/700.css";
import "@fontsource/ibm-plex-mono";

import "../index.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead, {
  type Props as BaseProps,
} from "../components/BaseHead.astro";

import { css } from "../../styled-system/css";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";

export type Props = BaseProps & {
  style?: string;
  class?: string;
};

const { style, class: className, ...head } = Astro.props;

const body = css({
  minHeight: "100dvh",
  pos: "relative",
});

const isProd = import.meta.env.PROD;
---

<!doctype html>
<html lang="ja">
  <head>
    <BaseHead {...head} />
    {isProd && <GoogleAnalytics />}
    <slot name="head" />
  </head>
  <body class:list={[body, className]} style={style}>
    <div
      id="global_wrapper"
      class={css({
        opacity: "0",
        _loaded: {
          opacity: "1",
        },
      })}
    >
      <Header />
      <main
        class={css({
          paddingTop: "64",
          paddingBottom: "96",
          overflowX: "hidden",
        })}
      >
        <slot />
      </main>
      <Footer />
    </div>
  </body>
</html>

<script>
  import "../utils/externalLink";

  window.addEventListener("load", () => {
    document.body.classList.add("loaded");
  });
</script>
